.Hud {
    position: absolute;
    left: -40px;
    top: 0px;
    image-rendering: pixelated;
    scale: 0.7;
}

.Hud .Combatent {
    position: relative;
    margin-bottom: 20px;
}

.Hud .Combatent_type {
    display: none;
}

